* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 600;
  color: white;
}

p {
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.my-class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 0 100px;
}

.header .uk-logo {
  font-family: 'Baloo Tamma 2', cursive;
}

.header .uk-navbar-nav>li.uk-active>a {
  font-family: 'Baloo Tamma 2', cursive;
}

.header .ul li a {
  font-family: 'Baloo Tamma 2', cursive;
}


.banner {
  padding: 100px 0;
}

.banner-body,
.experience-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience {
  background: #fff;
  padding: 80px 150px;
}

.experience h2 {
  color: #243B55;
}

.experience p {
  color: #243B55;
  font-size: 20px;
}

/**
 * footer
 */

.footer {
  background: #fff;
  padding: 80px;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  margin: 0 140px;
}

.about-body p {
  font-size: 20px;
  text-align: justify;
}

